<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<style>
    .sk-switch {
        padding: 1px;
        width: 40px;
        height: 20px;
        background-color: #dddddd;
        border-radius: 20px;
    }
    .toggle {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
    }
    .toggle + label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    input.toggle-round + label {
        padding: 1px;
        width: 40px;
        height: 20px;
        background-color: #dddddd;
        border-radius: 20px;
        vertical-align: middle;
    }
    input.toggle-round + label:before,
    input.toggle-round + label:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
    }
    input.toggle-round + label:before {
        right: 1px;
        background-color: #f1f1f1;
        border-radius: 30px;
        transition: background 0.4s;
    }
    input.toggle-round + label:after {
        width: 19px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s;
    }
    input.toggle-round:checked + label:before {
        background-color: #5c9ccc;
    }
    input.toggle-round:checked + label:after {
        margin-left: 20px;
    }
    input.toggle-round.form-invalid + label {
        background: red;
    }
</style>
<input class="toggle toggle-round" type="checkbox" />
<label></label>
<label class="sk-input-label"><slot name="label"></slot><slot></slot></label>
